* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

/* UTILS */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.relative {
    position: relative;
}

img {
    display: inline-block;
}

.hover:hover *{
    color: white;
}

/* GENERICS */
a {
    text-decoration: none;
    color: #D2D2D2;
}

.dn {
    display: none;
}

.white {
    color: white;
}

/*  TOP CONTENT */
.top-content {
    height: calc(100vh - 100px);
    width: 100%;
}

/* SIDEBAR */
.sidebar {
    height: calc(100vh - 100px);
    background-color: black;
    width: 50px;
    padding: 5px 10px;
    flex-direction: column;
}

/* SIDEBAR TOP*/
.sidebar-top {
    flex-basis: 80%;
}

.sidebar-col-top li:first-child {
    margin-bottom: 10px;
}

.sidebar-col-top li {
    margin-bottom: 5px;
}

.top-sidebar-icon {
    height: 30px;
    position: relative;
    left: 0;
    top: 10px
}

.sidebar-col-top:last-child {
    margin-bottom: 30px;
}

.top-sidebar-logo-small {
    height: 30px;
}

.top-sidebar-logo-big {
    margin-bottom: 20px;
    width: 150px;
}

/* SIDEBAR BOTTOM */
.sidebar-bottom {
    flex-basis: 20%;
}

/* MAIN */
main {
    height: calc(100vh - 100px);
    background-color: rgb(178, 255, 178);
    width: calc(100% - 50px);
    overflow: auto;
}

/* HEADER */
header {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    padding: 20px;
    right: 0px;
    left: 50px;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
}

.upgrade {
    justify-content: flex-end;
}

.upgrade a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 0.9rem;
    font-weight: bold;
}

.upgrade a:hover {
    scale: 1.1;
}

/* CONTENT*/ 
.content {
    padding: 20px;
}

/* PLAYERBAR */
.playerbar {
    height: 100px;
    padding: 10px;
    background-color: #282828;
    position: relative;
    z-index: 1;
}
