@media screen and (min-width: 768px) {
    .sidebar {
        width: 300px;
        padding: 0 30px;
    }/* bigger sidebar */ 

    .dn {
        display: inline;
        margin-left: 5px;
    }/* sidebar text popup */

    .top-sidebar-logo-small {
        display: none;
    }/* small logo disappear */

    .sidebar-active {
        display: inline;
    }/* Sidebar active appear */

    main {
        width: calc(100% - 300px);
    }/* The MAIN expands and fits into the sidebar */
}
