* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

/* GENERICS */
ul {
    list-style-type: none;
}

.white,
h2,
h3,
p {
    color: white;
}

a {
    text-decoration: none;
    color: #D2D2D2;
}

h2 {
    margin-bottom: 30px;
}

h5 {
    color: grey;
    font-size: 0.9rem;
    margin-bottom: 40px;
}

/* UTILS */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hover:hover *{
    color: white;
}


.relative {
    position: relative;
}

.dn {
    display: none;
}

/*  TOP CONTENT */
.top-content {
    height: calc(100vh - 100px);
    width: 100%;
}

/* HEADER */ header {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    padding: 20px;
    right: 0px;
    left: 0;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
}

.upgrade {
    justify-content: flex-end;
}

.upgrade a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 0.9rem;
    font-weight: bold;
}

.upgrade a:hover {
    scale: 1.1;
}

/* SIDEBAR */
.sidebar {
    height: calc(100vh - 100px);
    background-color: black;
    width: 50px;
    padding: 5px 10px;
    flex-direction: column;
}

/* SIDEBAR TOP*/
.sidebar-top {
    flex-basis: 90%;
}

.top-sidebar-logo-small {
    height: 30px;
}

.top-sidebar-logo-big {
    margin-bottom: 20px;
    width: 150px;
}

.sidebar-col-top li:first-child {
    margin-bottom: 10px;
}

.sidebar-col-top li {
    margin-bottom: 5px;
}

.top-sidebar-icon {
    height: 30px;
    position: relative;
    left: 0;
    top: 10px
}

.sidebar-col-top:last-child {
    margin-bottom: 30px;
}

span.sidebar-active {
    height: 40px;
    width: 3px;
    background-color: #ADFF2F;
    position: absolute;
    margin: 0;
    left: -30px;
    top: 70px;
}

/* PLAYLIST */
li span.add {
    color: black;
    background-color: #D2D2D2;
    font-size: 2rem;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    position: relative;
    left: 0;
    top: 5px;
    display: inline-block;
}

li:hover span.add {
    color: black;
    background-color: #fff;
}

.create-playlist {
    font-size: 1.2rem;
}

.playlist {
    height: 300px;
    overflow-y: auto;
}

.playlist li {
    margin-bottom: 20px;
}

/* SIDEBAR BOTTOM */
.sidebar-bottom {
    flex-basis: 10%;
}

.download-link {
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
    left: -5px;
    top: 10px;
}

div.sidebar-bot-border {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -5px;
    width: 100%;
    border: 1px solid #D2D2D2;
}

.profile-img img {
    height: 30px;
    background-color: #808080;
    border-radius: 50%;
}

.user-name {
    font-size: 1.2rem;
    position: relative;
    bottom: 10px;
    left: 10px;
}

/* MAIN */
main {
    height: calc(100vh - 100px);
    background-color: #141922;
    width: calc(100% - 50px);
    overflow: auto;
}

/* CONTENT*/ 
.content {
    padding: 20px;
}

/* NAVBAR */
.navbar-box {
    min-height: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-around;
    gap: 30px;
}

.btn {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: #D2D2D2;
    cursor: pointer;
}

.btn:hover {
    color: white;
}

.navbar-active {
    height: 2px;
    width: 50px;
    background-color: #ADFF2F;
    position: absolute;
    top: 25px;
    left: 30px;
}

/* MAIN CONTENT */
.main-content {
    height: 100%;
    padding-top: 50px;
}

.col {
    gap: 20px;
    min-height: 200px;
    text-align: center;
}

.card {
    flex-basis: calc(50% - 10px);
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    display: block;
}

.card h3 {
    margin-top: 20px;
}

.card h4{
    color: grey;
    margin-top: 10px;
}

/* CREATED FOR JOHN DOE */ 
.for-john-doe h2 {
    margin-top: 60px;
    margin-bottom: 10px;
}

/* MOST POPULR ARTISTS */
.radius {
    border-radius: 50%;
}

/* PLAYERBAR */
.playerbar {
    height: 100px;
    padding: 20px 10px;
    background-color: #282828;
    position: relative;
    z-index: 1;
}

.playerbar-boxes {
    height: 100%;
}

.playerbar-left,
.playerbar-right {
    flex-basis: 30%;
    height: 100%;
}

.playerbar-center {
    flex-basis: 40%;
    height: 100%;
}

/* PLAYERBAR LEFT */ 
.song-cover {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.song-cover img {
    width: 100%;
    margin: 5px 0;
}

.song-name {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.basis {
    flex-basis: 100%;
    height: 100%;
}

.song-name a:first-child {
    font-size: 1rem;
    font-size: 0.8rem;
    color: white;
}

.song-name a:last-child {
    font-size: 0.7rem;
    color: grey;
}

.song-name a:last-child:hover {
    border-bottom: 1px solid grey;
}

.favourite {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.favourite i {
    color: grey;
}

.favourite i:hover {
    color: white;
}

/* PLAYERBAR CENTER */

/* PLAYERBAR CENTER TOP */
.center-top {
    height: 30px;
    flex-basis: 100%; 
    justify-content: center;
}

.media-player {
    height: 30px;
    max-width: 300px;
    gap: 25px;
}

.media-player button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
}

button > i.play-btn {
    font-size: 2rem;
}

.media-player button:hover {
    scale: 1.1;
}

/*  PLAYERBAR CENTER BOTTOM */
.center-bottom {
    height: 30px;
    flex-basis: 100%;
    align-items: center;
}

.current-seconds,
.total-seconds {
    flex-basis: 40px;
}

time {
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
}

.total-music {
    flex-grow: 1;
}

.total-seconds {
    text-align: end;
}

.all-musicbar {
    max-width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    cursor: pointer;
}

.current-musicbar {
    max-width: 20%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}

.all-musicbar:hover .current-musicbar {
    background-color: #ADFF2F;
}

.music-point {
    position: absolute;
    top: -5px;
    left: 95%;
    visibility: hidden;
}

.all-musicbar:hover .music-point {
    visibility: visible;
}

/* PLAYERBAR RIGHT */
.multy {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.volume {
    height: 5px;
    width: 100px;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
}

.current-volume {
    height: 5px;
    width: 30px;
    border-radius: 5px;
    background-color: white;
}

.volume:hover .current-volume {
    background-color: #ADFF2F;
}

.current-volume > i {
    position: absolute;
    visibility: hidden;
    top: -5px;
    left: 80%;
}

.volume:hover i.vol-point {
    visibility: visible;
}





