@media screen and (min-width: 768px) {
    .sidebar {
        width: 300px;
        padding: 0 30px;
    }/* bigger sidebar */ 

    .dn {
        display: inline;
        margin-left: 5px;
    }/* sidebar text pop up */

    .top-sidebar-logo-small {
        display: none;
    }/* small logo disappear */

    .sidebar-active {
        display: inline;
    }/* Sidebar active appear */

    .download-link {
        margin-bottom: 0;
    }/* download icon margin removed */

    div.sidebar-bot-border {
        display: block;
    }/* bottom sidebar border appear */

    main {
        width: calc(100% - 300px);
    }/* The MAIN expands and fits into the sidebar */
}
